.initial {
  color: #50a2ff;
}

h1 {
  color: white;
}

header p {
  color: rgba(236, 233, 233, 0.9);
  text-align: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #2563eb;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
}

.button:hover {
  color: white;
  background-color: #1d4ed8;
}
